agno==1.4.2
aiofiles==24.1.0
aiohttp==3.11.18
aiosqlite==0.21.0
apscheduler==3.11.0
browser-use==0.1.41
elevenlabs==1.57.0
fastapi==0.115.12
feedparser==6.0.11
grpcio-status==1.72.0rc1
kokoro==0.9.4
librosa==0.11.0
pandas==2.2.3
phonemizer-fork==3.3.2
pickleshare==0.7.5
pydub==0.25.1
spacy==3.8.5
spacy-curated-transformers==0.3.0
uvicorn==0.34.2
